body{
    background-color: lightgray;
}

form{
    margin-left: 20px;
}

.track{
    list-style: none;
    width: 20%;
    background-color: #4d94ff;

    padding: 5px;

    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
}

.removeBtn{
    background-color: #b3d1ff;
}

.trackName{
    display: inline;
}

#artist-name{
    margin-left: 15px;
}

#limit{
    margin-left: 58px;
    margin-top: 5px;
}

#track-name{
    margin-top: 5px;
}

#submitBtn{
    margin-top: 5px;
    margin-left: 102px;
}

.tab{
    list-style: none;
    display: inline-block;
}

.tab button{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    margin-right: 1px;
    background: linear-gradient(#6493C3, #BCD8F5);
}

.tab:first-child button{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    margin-right: 1px;
    background: linear-gradient(#336BA2, #5D9EDF);
}




form{
    display: inline-block;
}

#download-track{
    margin-left: -116px;
}