body{
    background-color: lightgray;
}

form{
    margin-left: 20px;
}

.track{
    list-style: none;
    width: 20%;
    background-color: #4d94ff;

    padding: 5px;

    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
}

.removeTrackBtn{
    background-color: #b3d1ff;
}

.trackName{
    display: inline;
}

#artist-name{
    margin-left: 15px;
}

#limit{
    margin-left: 58px;
    margin-top: 5px;
}

#track-name{
    margin-top: 5px;
}

#submitBtn{
    margin-top: 5px;
    margin-left: 102px;
}

.tab{
    list-style: none;
    display: inline-block;
}

.tab .tab-button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    margin-right: 1px;
    background: linear-gradient(#6493C3, #BCD8F5);
    display:inline-block;
    border:1px solid #CCC;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
}

.tab:first-child .tab-button{
    background: linear-gradient(#336BA2, #5D9EDF);
}

.tabName{
    display: inline;
}

.removeTabBtn{
    display: inline-block;
    float: right;
    background-color: #b3d1ff;
}


form{
    display: inline-block;
}

#download-track{
    margin-left: -116px;
}

#lyricsCheckBox{
    margin-left: 20px;
}

