<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Song Downloader</title>
        <link rel="stylesheet" href="app.css">
    </head>
    <body>

    <div ng-controller="appCtrl">
            <form ng-submit="submitArtist()">
                <div>
                    Artist Name:
                    <input id="artist-name" type="text" ng-model="artist">
                </div>
                <div>
                    Limit:
                    <input id="limit" type="text" ng-model="limit">
                </div>
                <div>
                    Specific Track:
                    <input id="track-name" type="text" ng-model="trackName">
                </div>

                <input id="submitBtn" type="submit">
            </form>

            <button id="download-track" ng-click="downloadTrack()">Download Track</button>
            <div id="lyricsCheckBox">
                Lyrics:
                <input type="checkbox" ng-model="lyrics">
            </div>
            <ul>
                <li class="tab" ng-repeat="tab in tracks">
                    <div class="tab-button" ng-click="tabClick()" ng-init="tabLoad()">
                        <div class="tabName">{{tab.artist}}</div>
                        <button class="removeTabBtn" ng-click="removeTabBtn()">X</button>
                    </div>
                </li>
            </ul>

            <button id="download-all-btn" ng-click="downloadAll()" ng-hide="tracks.length == 0">Download All</button>

            <ul id="track-list">
                <li class="track" ng-repeat="track in tracks[currentTab].tracks" ng-click="playVideo()">
                    <div>
                        <button class="removeTrackBtn" ng-click="removeTrackBtn()">X</button>
                        <div class="trackName">{{track}}</div>
                    </div>
                </li>
            </ul>
            <div id="player"></div>

    </div>

        <script src="angular.min.js"></script>
        <script id="youtube-iframe-api" src="https://www.youtube.com/iframe_api"></script>
        <script src="app.js"></script>
        <script src="youtube-iframe.js"></script>
    </body>
</html>
